---
services:
    postgres_db:
        build: .
        container_name: postgres_weather_instance
        restart: always
        environment:
            - POSTGRES_DB=${DB_NAME}
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASS}
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql
        networks:
            - weather_network

volumes:
    postgres_data:

networks:
    weather_network:
        external: true
