---
services:
    weather_information_export:
        image: weather_information_export:0.1
        build:
            context: .
            dockerfile: Dockerfile
        environment:
      # API Key loaded with export
            OPEN_WEATHER_MAP_API_KEY: $OPEN_WEATHER_MAP_API_KEY
      # Converteo
            LATITUDE: 48.83174178400599
            LONGITUDE: 2.3885886413001893
      ## Database Connection
            DB_HOST: ${DB_HOST}
            DB_NAME: ${DB_NAME}
            DB_USER: ${DB_USER}
            DB_PASS: ${DB_PASS}
            DB_PORT: ${DB_PORT}
        volumes:
      # Source code
            - ./src/job:/opt/program/job
        networks:
            - weather_network

networks:
    weather_network:
        external: true
